.skillsContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.otherSkills {
    grid-column: 1 / 3;
    width: 60%;
    margin: 0 auto;
}

.frontendSkills,
.backendSkills,
.otherSkills {
    padding: 2rem;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 2rem;
}

.frontendSkills h3,
.backendSkills h3,
.otherSkills h3 {
    margin-bottom: var(--mb-2);
}

.technologies {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 2rem;
}

.technology {
    transition: transform 0.2s ease-in-out;
}

.technology:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 992px) {
    .skillsContainer {
        grid-template-columns: 1fr;
    }

    .otherSkills {
        grid-column: initial;
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .technologies {
        grid-template-columns: 1fr 1fr;
    }

    .otherSkills {
        width: 100%;
    }
}

@media screen and (max-width: 350px) {
    .technologies {
        grid-template-columns: 1fr;
    }
}