/*.homeContainer {
    row-gap: 7rem;
}*/

.homeContent {
    grid-template-columns: auto auto;
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;
}

.homeSocial {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.homeSocialIcon {
    font-size: 1.25rem;
    color: var(--title-color);
}

.homeSocialIcon:hover {
    color: var(--title-color-dark);
}

.homeTitle {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-0-25);
}

.homeSubtitle {
    position: relative;
    font-size: var(--h3-font-size);
    padding-left: 5.4rem;
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-1);
}

.homeSubtitle::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: var(--text-color);
    left: 0;
    top: 0.9rem;
}

.homeDescription{
    margin-bottom: var(--mb-3);
}

.buttonWrapper {
    display: flex;
    gap: 20px;
}

#downloadCV {
    background-color: var(--body-color);
    color: var(--title-color);
    border: 2px solid rgba(0, 0, 0, 0.3);
}

.buttonFlex svg{
    margin-left: var(--mb-0-5);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

@media screen and (max-width: 992px) {
  .homeSubtitle {
    padding-left: 3.75rem;
    margin-bottom: var(--mb-1);
  }

  .homeSubtitle::before {
    width: 42px;
    top: 0.8rem;
  }

  .homeDescription {
    max-width: initial;
    margin-bottom: var(--mb-2-5);
  }
  }
  
  @media screen and (max-width: 768px) {
    .homeContent {
        padding-top: 0rem;
    }
  }
  
  @media screen and (max-width: 576px) {
    .homeContent {
        grid-template-columns: auto;
    }
    
    .homeSocial{
        grid-template-columns: 50px 50px;
    }
  }
  
  @media screen and (max-width: 350px) {
    
  }